* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

/* Header logo */

header {
    padding-top: 25px;
    padding-left: 30px;
    padding-bottom: 25px;
    background-color: white;
}

#logo img {
    width: 270px;
}

.barra_ricerca {
    width: auto;
    height: 50px;
    padding-top: 15px;
    padding-left: 30px;
    background-color: red;
}

/* Sezione prodotti */

.area_prodotti {
    width: auto;
    background-color: white;
    position: relative;
    padding-top: 20px;
    position: relative;
}

.line {
    text-align: center;
}


/* Schede prodotti */

.scheda_prodotto {
    width: 250px;
    height: 300px;
    background-color: #f7f7f7;
    border-radius: 10px;
    border: 1px solid #ded9d9;
    margin: 10px;
    display: inline-block;
    position: relative;
}


.scheda_prodotto:hover {
    background-color: white;
    border: 3px solid red;
}


.immagine_prodotto {
    width: 170px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.scheda_prodotto:hover .immagine_prodotto {
    border: 3px solid white;
}

.scontistica {
    width: 70px;
    height: 35px;
    background-color: yellow;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    right: 0;
    top: 0;
}

.nome_prodotto {
    width: 150px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
}

.cuore {
    color: #c0c0c0;
    width: 35px;
    height: 35px;
    font-size: 30px;
    position: absolute;
    bottom: 15px;
    left: 103px;
    text-align: center;
    visibility: hidden;
}

.cuore:hover {
    color: red;
}

.scheda_prodotto:hover .cuore {
    visibility: visible;
}

strong[title="10"]  {
    width: 70px;
    height: 35px;
    background-color: yellow;
    color: black;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    right: 0;
    top: 0;
}
strong[title="20"], strong[title="30"] {
    width: 70px;
    height: 35px;
    background-color: orange;
    color: white;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    right: 0;
    top: 0;
}

strong[title="40"], strong[title="50"]  {
    width: 70px;
    height: 35px;
    background-color: red;
    color: white;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    right: 0;
    top: 0;
}

.scontistica p {
    text-align: center;
    line-height: 35px;
    font-size: 23px;
}

.nome_prodotto p {
    padding-left: 15px;
    text-align: left;
    line-height: 35px;
    font-size: 27px;
}
